{% extends 'sitebase.html' %}
    <div class='container'>
      <div class='row'>
        <div class='page-header site-header'>
          <h1>
            {% templatetag openblock %} block header {% templatetag closeblock %}
              <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_list {% templatetag closeblock %}'>
                {{ class_name }}s
              </a>
            {% templatetag openblock %} endblock {% templatetag closeblock %}
          </h1>
        </div>
        
        <div class='content'>
          <div class='span3'>
            {% templatetag openblock %} block sidebar {% templatetag closeblock %}
                <ul class='nav nav-list'>
                  <li class='nav-header'>
                    Views
                  </li>
                  <li>
                    <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_list {% templatetag closeblock %}'>
                      List View
                    </a>
                  </li>
                  <li>
                    <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_create {% templatetag closeblock %}'>
                      Create View
                    </a>
                  </li>
                  {% templatetag openblock %} if object {% templatetag closeblock %}
                    <li>
                      <a href='{% templatetag openvariable %} object.get_absolute_url {% templatetag closevariable %}'>
                        Detail View
                      </a>
                    </li>
                    <li>
                      <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_update pk=object.pk {% templatetag closeblock %}'>
                        Update View
                      </a>
                    </li>
                    <li>
                      <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_delete pk=object.pk {% templatetag closeblock %}'>
                        Delete View
                      </a>
                    </li>
                  {% if is_timestamped %}
                  {% templatetag openblock %} endif {% templatetag closeblock %}
                  <li class='nav-header'>
                    Date-based Views
                  </li>
                  <li>
                    <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_archive_index {% templatetag closeblock %}'>
                      Archive Index
                    </a>
                  </li>
                  {% templatetag openblock %} if object {% templatetag closeblock %}
                    <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_date_detail year=object.{{ timestamp_field }}.year month=object.{{ timestamp_field }}.month day=object.{{ timestamp_field }}.day pk=object.pk {% templatetag closeblock %}'>
                      Date Detail View
                    </a>
                  {% templatetag openblock %} endif {% templatetag closeblock %}
                  {% else %}
                  {% templatetag openblock %} endif {% templatetag closeblock %}
                  {% endif %}
                </ul>
            {% templatetag openblock %} endblock {% templatetag closeblock %}
          </div>
          <div class='span7'>
            {% templatetag openblock %} block breadcrumbs {% templatetag closeblock %}
            {% templatetag openblock %} endblock {% templatetag closeblock %}
            <div class='page-header'>
              <h1>
                {% templatetag openblock %} block header-link {% templatetag closeblock %}
                {% templatetag openblock %} endblock {% templatetag closeblock %}
                <br />
                <small>
                  {% templatetag openblock %} block header-description {% templatetag closeblock %}
                  {% templatetag openblock %} endblock {% templatetag closeblock %}
                </small>
              </h1>
            </div>
            <div class='content'>
              {% templatetag openblock %} block content {% templatetag closeblock %}
              {% templatetag openblock %} endblock {% templatetag closeblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
