{% load i18n %}

{% templatetag openblock %} extends '{{ app_name }}/{{ model_slug }}/base.html' {% templatetag closeblock %}

{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block filename {% templatetag closeblock %}
  {{ filename }}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}
  {% templatetag openblock %} trans "{% blocktrans %}{{ class_name }} Confirm Delete{% endblocktrans %}" {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block header-link {% templatetag closeblock %}
  <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_delete pk=object.pk {% templatetag closeblock %}'>
    {% templatetag openblock %} trans "{% blocktrans %}{{ class_name }} Confirm Delete{% endblocktrans %}" {% templatetag closeblock %}
  </a>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block header-description {% templatetag closeblock %}
  {% templatetag openblock %} trans "{% trans "A view that displays a confirmation page (on GET) and deletes an existing object (on POST)." %}" {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
  <h2>
    {% templatetag openblock %} trans "{% blocktrans %}Delete this {{ class_name }}?{% endblocktrans %}" {% templatetag closeblock %}
  </h2>
  <br />
  {% templatetag openblock %} include '{{ app_name }}/{{ model_slug }}/object_table_detail.html' {% templatetag closeblock %}
  <form action='' charset='utf-8' method='post'>
    <fieldset>
      {% templatetag openblock %} csrf_token {% templatetag closeblock %}
      <div class='form-actions'>
        <button class='btn btn-danger' type='submit'>
          {% templatetag openblock %} trans "{% trans "Delete" %}" {% templatetag closeblock %}
        </button>
      </div>
    </fieldset>
  </form>
{% templatetag openblock %} endblock {% templatetag closeblock %}
