{% load i18n %}

{% templatetag openblock %} extends '{{ app_name }}/{{ model_slug }}/base.html' {% templatetag closeblock %}

{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block filename {% templatetag closeblock %}
  {{ filename }}
{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block title {% templatetag closeblock %}
  {% templatetag openblock %} trans "{% blocktrans %}{{ class_name }} Day Archive{% endblocktrans %}" {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block breadcrumbs {% templatetag closeblock %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_archive_index {% templatetag closeblock %}'>
        {% templatetag openblock %} trans "{% trans "Archive Index" %}" {% templatetag closeblock %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_year_archive year=day.year {% templatetag closeblock %}'>
        {% templatetag openblock %} trans "{% trans "Year Archive" %}" {% templatetag closeblock %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_month_archive year=day.year month=day.month {% templatetag closeblock %}'>
        {% templatetag openblock %} trans "{% trans "Month Archive" %}" {% templatetag closeblock %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_day_archive year=day.year month=day.month day=day.day {% templatetag closeblock %}'>
        {% templatetag openblock %} trans "{% trans "Day Archive" %}" {% templatetag closeblock %}
      </a>
    </li>
  </ul>
{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block header-link {% templatetag closeblock %}
  <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_day_archive year=day.year month=day.month day=day.day {% templatetag closeblock %}'>
    {% templatetag openblock %} trans "{% blocktrans %}{{ class_name }} Day Archive{% endblocktrans %}" {% templatetag closeblock %}
  </a>
{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block header-description {% templatetag closeblock %}
  {% templatetag openblock %} trans "{% trans "A day archive page showing all objects in a given day." %}" {% templatetag openblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block content {% templatetag closeblock %}
  <h2>
    {% templatetag openblock %} blocktrans {% templatetag closeblock %}
      {% blocktrans %}{{ class_name }}s created on {% endblocktrans %}{% templatetag openvariable %} day {% templatetag closevariable %}
    {% templatetag openblock %} endblocktrans {% templatetag closeblock %}
  </h2>
  {% templatetag openblock %} include '{{ app_name }}/{{ model_slug }}/object_table_list.html' {% templatetag closeblock %}
  {% templatetag openblock %} include '{{ app_name }}/{{ model_slug }}/pagination.html' {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}
