{% load i18n %}

{% templatetag openblock %} extends '{{ app_name }}/{{ model_slug }}/base.html' {% templatetag closeblock %}

{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block filename {% templatetag closeblock %}
  {{ filename }}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block breadcrumbs {% templatetag closeblock %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_archive_index {% templatetag closeblock %}'>
        {% templatetag openblock %} trans "{% trans "Archive Index" %}" {% templatetag closeblock %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_year_archive year=year {% templatetag closeblock %}'>
        {% templatetag openblock %} trans "{% trans "Year Archive" %}" {% templatetag closeblock %}
      </a>
    </li>
  </ul>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block header-link {% templatetag closeblock %}
  <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_year_archive year=year {% templatetag closeblock %}'>
    {% templatetag openblock %} trans "{% blocktrans %}{{ class_name }} Year Archive{% endblocktrans %}" {% templatetag closeblock %}
  </a>
{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block header-description {% templatetag closeblock %}
  {% templatetag openblock %} trans "{% trans "A yearly archive page showing all available months in a given year." %}" {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block content {% templatetag closeblock %}
  <h2>
    {% templatetag openblock %} trans "By Month" {% templatetag closeblock %}
  </h2>
  <ul class='nav nav-tabs nav-stacked'>
    {% templatetag openblock %} for date in date_list {% templatetag closeblock %}
      <li>
        <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_month_archive year=date.year month=date.month {% templatetag closeblock %}'>
          {% templatetag openvariable %} date|date:"M Y" {% templatetag closevariable %}
        </a>
      </li>
    {% templatetag openblock %} endfor {% templatetag closeblock %}
  </ul>
  <h2>
    {% templatetag openblock %} blocktrans {% templatetag closeblock %}
      {% blocktrans %}{{ class_name }}s created in the year {% endblocktrans %}{% templatetag openvariable %} year {% templatetag closevariable %}
    {% templatetag openblock %} endblocktrans {% templatetag closeblock %}
  </h2>
  {% templatetag openblock %} include '{{ app_name }}/{{ model_slug }}/object_table_list.html' {% templatetag closeblock %}
  {% templatetag openblock %} include '{{ app_name }}/{{ model_slug }}/pagination.html' {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}
