{% load i18n %}

{% templatetag openblock %} extends '{{ app_name }}/{{ model_slug }}/base.html' {% templatetag closeblock %}

{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block filename {% templatetag closeblock %}
  {{ filename }}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block header-link {% templatetag closeblock %}
  <a href='{% templatetag openblock %} url {{ app_name }}_{{ model_slug }}_list {% templatetag closeblock %}'>
    {% templatetag openblock %} trans "{% blocktrans %}{{ class_name }} List{% endblocktrans %}" {% templatetag closeblock %}
  </a>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block header-description {% templatetag closeblock %}
  {% templatetag openblock %} trans "{% trans "A page representing a list of objects." %}" {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
  <h2>
    {% templatetag openblock %} trans "{% blocktrans %}{{ class_name }}s{% endblocktrans %}" {% templatetag closeblock %}
  </h2>
  {% templatetag openblock %} include '{{ app_name }}/{{ model_slug }}/object_table_list.html' {% templatetag closeblock %}
  {% templatetag openblock %} include '{{ app_name }}/{{ model_slug }}/pagination.html' {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}
