{% load i18n %}

{% templatetag openblock %} load i18n {% templatetag closeblock %}

<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>
        {% templatetag openblock %} trans "{% trans "Field" %}" {% templatetag closeblock %}
      </th>
      <th>
        {% templatetag openblock %} trans "{% trans "Value" %}" {% templatetag closeblock %}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        id
      </td>
      <td>
        <a href='{% templatetag openvariable %} object.get_absolute_url {% templatetag closevariable %}'>
          {% templatetag openvariable %} object.id|stringformat:".3d" {% templatetag closevariable %}
        </a>
      </td>
    </tr>
    {% for field in model_fields %}
    <tr>
      <td>
        {{ field }}
      </td>
      <td>{% templatetag openvariable %} object.{{ field }} {% templatetag closevariable %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
